@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dark: #2C3A47;
  --light: #f1f2f6; 
  --primary: #079992;
  --secondary: #38ada9;
  --compliment: #b8e994;
}

body{
  background-color: var(--light);
}

.header{
  @apply bg-gray-200 px-10 py-4 shadow-sm
}

.content{
  @apply px-10 py-5 md:grid md:grid-cols-3 gap-4
}

.habit-card{
  @apply mt-7 mx-3 bg-gray-50 px-3 py-6 rounded-xl shadow-md
}

.habit-item{
  @apply mb-3 py-2 px-4 cursor-pointer rounded-md shadow-sm;
  transition: 0.3s;
}

.habit-item:hover{
  background-color: var(--dark);
  border-radius: 9px;
  color: var(--light);
}

.card-title{
  color: var(--primary);
  @apply text-center text-lg tracking-wide mb-3 font-semibold
}

.form-group{
  @apply flex flex-col px-3 py-2
}

.form-label{
  @apply text-sm font-medium tracking-wide mb-1
}

.form-control{
  box-sizing: border-box;
  transition: 0.2s;
  outline: none;
  @apply border-2 rounded-md py-2 px-2 border-gray-400 text-gray-700 text-sm
}

.form-control:focus{
  border: 2px solid var(--primary);
}

.btn{
  background-color: var(--primary);
  @apply px-3 py-2 rounded-md text-white
}

.btn-disabled{
  background-color: var(--secondary);
  @apply px-3 py-2 rounded-md text-white
}

.btn-outline{
  border: 2px solid var(--primary);
  color: var(--primary);
  transition: 0.3s;
  @apply px-2 py-1 rounded-md bg-gray-200 text-sm
}

.btn-outline:hover{
  background-color: var(--primary);
  @apply px-2 py-1 rounded-md text-white text-sm
}

.link{
  color: var(--primary);
  transition: 0.5;
}

.link:hover{
  padding-bottom: 0.3px;
  border-bottom: 2px solid var(--secondary);
  @apply font-medium
}

.day-card{
  background-color: var(--light);
  transition: 0.3s;
  @apply shadow-md px-3 py-4 mb-2 rounded-md font-medium text-sm text-center cursor-pointer sm:col-span-1 md:max-w-28
}

.clicked{
  background-color: var(--primary);
  color: var(--light);
  transition: 0.3s;
}

.error{
  transition: 0.3s;
  @apply border-2 rounded-md px-3 py-2 my-3 border-red-600
}

.error-title{
  @apply text-red-500 text-lg
}

.error-text{
  @apply font-light text-sm tracking-tight
}

.badge{
  @apply text-xs font-medium inline-flex items-center px-1.5 py-0.5 rounded-md me-0.5 bg-gray-200 text-gray-400 border border-gray-300
}
